<div class="border-b-2 pb-2 border-gray-200">
    <div class="">
        <p class="font-semibold text-lg">Quản lý thông báo</p>
    </div>
</div>

<div>
    <form action="">
        <div class="spcae-y-12">
            <h2 class="text-base mt-4 font-semibold leading-7 text-gray-900">Tạo thông báo</h2>

            <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                <div class="sm:col-span-full">
                    <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">Tiêu đề</label>
                    <div class="mt-2">
                        <input type="text" name="role" id="role" value="Thông báo về tình hình y tế mới nhất tại đây"
                            class="block w-full rounded-md px-2 border-0 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                </div>
            </div>

            <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                <div class="sm:col-span-full">
                    <label for="last-name" class="block text-sm mb-2 font-medium leading-6 text-gray-900">Nội dung thông báo</label>

                    <angular-editor [config]="config"></angular-editor>
                </div>
            </div>
        </div>

        <div class="mt-6 flex items-center justify-end gap-x-6">
            <a routerLink="/dashboard/notifications" class="text-sm font-semibold leading-6 underline text-gray-900">Hủy bỏ</a>
            <!-- <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 
                            focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                Đăng
            </button> -->

            <app-spinner-button [buttonText]="'Đăng'"></app-spinner-button>
        </div>
    </form>
</div>